/* Addons */
@import url("https://discord-theme-addons.github.io/modern-channel-indicators/src/support/compiled.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css");
@import url("https://goose-nest.github.io/GT-RevertRebrand/RevertRebrand.theme.css");
@import url("https://mr-miner1.github.io/Better-Badges/BetterBadges(BD).theme.css");
@import url("https://dyzean.github.io/gradient-badge-userpopouts/donators.css");
@import url("https://discordstyles.github.io/RadialStatus/base.css");

/* USRBG */
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

/* ---- Discord Variables ---- */
:root.theme-dark, .theme-light {
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #f7f4f4;
  --text-link: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
  --text-link-low-saturation: hsl(197,calc(var(--saturation-factor, 1)*100%),52.9%);
  --text-positive: hsl(139,calc(var(--saturation-factor, 1)*66.8%),58.6%);
  --text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
  --text-danger: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
  --channels-default: #ddd5d3;
  --interactive-normal: #EAE1DF;
  --interactive-hover: #EAE1DF;
  --interactive-active: #fff;
  --interactive-muted: #505355;
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;
  --background-primary: #1c223a;
  --background-secondary: #181d33;
  --background-secondary-alt: #14192b;
  --background-tertiary: #14192b;
  --background-accent: #4d6a91;
  --background-floating: #171d30;
  --background-mentioned: rgba(0, 186, 254, 0.5);
  --background-mentioned-hover: rgba(42, 196, 252, 0.63);
  --background-message-hover: rgba(4, 4, 5, 0.07);
  --background-help-warning: rgba(250, 166, 26, 0.1);
  --background-help-info: rgba(0, 176, 244, 0.1);
  --info-positive-text: #fff;
  --info-warning-text: #fff;
  --info-danger-text: #fff;
  --info-help-background: hsla(197,calc(var(--saturation-factor, 1)*100%),47.8%,0.1);
  --info-help-foreground: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
  --info-help-text: #fff;
  --status-warning-text: #000;
  --scrollbar-thin-thumb: rgba(44, 49, 71, 0.658);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: rgba(67, 79, 134, 0.658);
  --scrollbar-auto-track: rgba(24, 28, 51, 0.7);
  --scrollbar-auto-scrollbar-color-thumb: rgba(67, 79, 134, 0.555);
  --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
  --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
  --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
  --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
  --logo-primary: #fff;
  --focus-primary: var(--color-brand);
  --radio-group-dot-foreground: var(--color-brand-lighter);
  --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  --channeltextarea-background: var(--background-primary);
  --channeltextarea-background-hover: var(--background-secondary);
  --activity-card-background: #233550;
  --textbox-markdown-syntax: #8e9297;

  --text-warning: var(--color-orange);
  --text-danger: var(--color-red);
  --info-positive-background: rgba(56, 172, 93, 0.8);
  --info-positive-foreground: var(--color-green);
  --info-warning-background: rgba(255, 199, 102, 0.8);
  --info-warning-foreground: var(--color-orange);
  --info-danger-background: rgba(241, 66, 69, 0.8);
  --info-danger-foreground: var(--color-red);
  --status-positive-background: var(--color-green);
  --status-positive-text: #fff;
  --status-warning-background: var(--color-orange);
  --status-danger-background: var(--color-red);
  --status-danger-text: #fff;

  --font-primary: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-display: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;

/* ---- Addons Variables ---- */

/* --- Settings Modal --- */
  --settingsmodalbackground: transparent;
  --settingsmodalwidth: 1100px;
  --settingsmodalheight: 90vh;

/* --- Channel Indicator --- */
  --indicator-hovered: rgba(79, 84, 92, 0.25);
  --indicator-rounding: 0;
  --indicator-border-info: 2px solid;

  --indicator-selected: 112, 135, 215;
  --indicator-selected-border: rgba(var(--indicator-selected));
  --indicator-selected-background: rgba(var(--indicator-selected), 0.1);
  --indicator-selected-hover: rgba(var(--indicator-selected), 0.18);

  --indicator-unread: 255, 255, 255;
  --indicator-unread-border: rgba(var(--indicator-unread), 0.6);
  --indicator-unread-background: rgba(var(--indicator-unread), 0.01);

  --indicator-connected: 67, 181, 129;
  --indicator-connected-border: rgba(var(--indicator-connected));
  --indicator-connected-background: rgba(var(--indicator-connected), 0.1);
  --indicator-connected-hover: rgba(var(--indicator-connected), 0.18);

/* --- Radial Status --- */
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

  --rs-online-color: #43b581; /* Colour for online status */
  --rs-idle-color: #faa61a; /* Colour for idle status */
  --rs-dnd-color: #f04747; /* Colour for dnd status */
  --rs-offline-color: #636b75; /* Colour for offline status */
  --rs-streaming-color: #643da7; /* Colour for streaming status */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */

  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
  --container-color: var(--background-floating);
}

/* ~~~~		  		General							~~~~ */

.circleIconButton-1QV--U {
  color: var(--background-accent) !important;
}
.circleIconButton-1QV--U {
  background-color: transparent !important;
}
.circleIconButton-1QV--U:hover {
  background-color: var(--background-primary) !important;
}

/* Friend list tab */
.peopleColumn-29fq28 {
  background-color: var(--background-primary);
}
.friendSelected-1sa4bG {
  background-color: var(--background-tertiary) !important;
}
.outer-1AjyKL.interactive-3B9GmY:hover {
  background-color: var(--background-tertiary) !important;
}
.inset-3sAvek,
.separator-XqIyoz {
  background-color: var(--background-secondary) !important;
}

/* Discovery */
#app-mount .pageWrapper-1PgVDX {
  background-color: var(--background-primary);
  color: #fff;
}

/* Channel List */
.sidebar-2K8pFh,
.chat-3bRxxu,
.container-3Mxszk,
.container-1D34oG,
.applicationStore-1pNvnv {
  border-radius: 17px 17px 0 0 !important;
}
.chat-3bRxxu,
.container-1D34oG,
.container-3Mxszk,
.applicationStore-1pNvnv {
  position: relative;
  left: 5px;
  padding-right: 5px;
}
.modeUnread-1qO3K1 > div > a > div > .icon-1DeIlz {
  color: var(--interactive-active);
}

/* chat box*/
.scrollableContainer-2NUZem {
  border-radius: 20px;
  border: 1px solid var(--background-tertiary);
  background-color: var(--background-secondary);
}
.replyBar-1YLQ2F,
.threadSuggestionBar-2ufK2Z {
  background: var(--background-secondary);
  border: 1px solid var(--background-tertiary);
  border-bottom-color: transparent;
}
.clipContainer-eeROt0 {
  margin-right: 17px;
  margin-left: 17px;
}
.attachedBars-tZDmyV {
  background: transparent;
}
.content-yTz4x3::before {
  display: none;
}
.buttons-3JBrkn {
  opacity: 0;
  transition: opacity 0.5s;
}
.channelTextArea-rNsIhG:hover .buttons-3JBrkn {
  opacity: 1;
}
.header-23xsNx {
  user-select: none;
}

/* Mobile looks jump to present */
.jumpToPresentBar-G1R9s6 {
  visibility: hidden;
  bottom: 15px;
}
.jumpToPresentBar-G1R9s6 .barButtonIcon-3t4V3d {
  visibility: visible;
  padding: 12px;
  background-color: var(--background-tertiary);
  border-radius: 50%;
  margin-bottom: 2em;
}

/* ~~~~		  		Messages							~~~~ */

/* Text */
.blockquoteContainer-U5TVEi {
  padding: 2px 0 2px 0;
}
.blockquoteContainer-U5TVEi blockquote {
  background-color: var(--background-secondary);
  border: 1px solid var(--background-secondary);
  color: #fff;
  border-radius: 0 4px 4px 0;
  padding: 4px 11px 4px;
}
.blockquoteContainer-U5TVEi > .blockquoteDivider-2hH8H6 {
  background-color: var(--background-accent);
  border-radius: 4px 0 0 4px;
}
.markup-2BOw-j code {
  background-color: rgba(22, 22, 22, 0.4);
}
.after_inlineCode-1KfVgj,
.before_inlineCode-1G9rTK,
.inlineCode-2ngu6Y {
  background-color: rgba(22, 22, 22, 0.4);
}
.hljs {
  background: var(--background-secondary) !important;
  border-radius: 5px;
}

/* Embeds */
.wrapperAudio-1jDe0Q {
  width: auto !important;
  min-width: 400px;
}

.embedWrapper-lXpS3L.embedFull-2tM8-- {
  border-radius: 4px;
  border-left: 4px solid var(--background-tertiary);
  box-shadow: var(--elevation-high);
}

/* Nitro Gift */
.tile-2OwFgW {
  background-color: var(--background-secondary) !important;
}
.lookFilled-1Gx00P.colorPrimary-3b3xI6:disabled {
  background-color: var(--background-primary) !important;
}

/* Mentions */
.replying-1x3H0T,
.mentioned-xhSam7 {
  background: rgba(151, 197, 250, 0.15) !important;
}
.numberBadge-2s8kKX.base-PmTxvP {
  background-color: var(--background-accent) !important;
}

/* Quick Button or whatever is that */
.wrapper-2aW0bm {
  background-color: var(--background-secondary);
}

/* ~~~~		  		Popouts							~~~~ */

/* UserPopouts */
.userPopout-xaxa6l {
  background: var(--background-secondary);
  box-shadow: unset !important;
  margin-right: 20px;
  border-radius: 8px;
}
.userPopout-xaxa6l .banner-2QYc2d {
  position: absolute;
  width: 300px;
  height: 180px;
  border-radius: 8px 8px 0 0;
  -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(24, 29, 51, 1) 100%);
}
.userPopout-xaxa6l .banner-2QYc2d.bannerPremium-2hSAwz {
  background-color: transparent !important;
}
.userPopout-xaxa6l .headerTop-3vNv-a {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  padding-top: 110px;
  padding-bottom: 20px;
}
.userPopout-xaxa6l .headerTop-3vNv-a .headerTagWithNickname-3l_x6x,
.userPopout-xaxa6l .headerTop-3vNv-a .setIdentityLink-1t8Ahd {
  display: none;
}
.userPopout-xaxa6l .headerTop-3vNv-a .headerTagDiscriminatorNoNickname-D-AYUN {
  color: #dadada;
}
.userPopout-xaxa6l .headerTop-3vNv-a .profileBadges-ohc0Vu {
  position: static;
  justify-content: center;
  max-width: unset;
}
.userPopout-xaxa6l .headerTop-3vNv-a .profileBadges-ohc0Vu > * {
  margin: 0 3px;
}
.userPopout-xaxa6l .headerTop-3vNv-a .profileBadges-ohc0Vu:empty {
  margin-bottom: 20px;
}
.userPopout-xaxa6l .headerTop-3vNv-a .headerText-1vVs-U {
  margin-bottom: 8px;
}
.userPopout-xaxa6l .customStatus-oN4ZZY,
.userPopout-xaxa6l .aboutMeSection-1Fw5Ia {
  padding-top: 10px;
}
.userPopout-xaxa6l .divider-ewBQKj {
  display: none;
}
.userPopout-xaxa6l .body-3HBlXn .activity-2INFPu .button-38aScr {
  background-color: #419e85;
}
.userPopout-xaxa6l .body-3HBlXn .activity-2INFPu .spotifyIcon-2J9kSv {
  display: none;
}
.userPopout-xaxa6l .body-3HBlXn .bodyInnerWrapper-26fQXj {
  padding-right: 16px;
}
.userPopout-xaxa6l .body-3HBlXn::-webkit-scrollbar {
  display: none;
}
.userPopout-xaxa6l .avatarWrapper-3r9PdD {
  top: 0;
  left: 50%;
  grid-area: avatar;
  margin: 15px 0 0 -50px;
}
.userPopout-xaxa6l .avatarWrapper-3r9PdD .avatar-37jOim {
  background: none;
  border: none;
}
.userPopout-xaxa6l .avatarWrapper-3r9PdD .avatarHint-2A3RNb {
  display: none;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB > :first-child {
  flex: 2 auto;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .banner-hcPdsd {
  position: absolute;
  height: 180px;
  -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(24, 29, 51, 1) 100%);
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .avatarUploader-2UF9NL {
  top: 15px;
  left: 50%;
  margin-left: -40px;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .avatarUploader-2UF9NL .avatarUploaderInner-Oiob_P {
  border: none;
  border-radius: 50%;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .avatarUploader-2UF9NL .avatarUploaderInner-Oiob_P .avatarUploaderIndicator-2G-aIZ {
  display: none;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3vNv-a {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  padding-top: 110px;
  padding-bottom: 20px;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3vNv-a .headerTagWithNickname-3l_x6x, .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3vNv-a .setIdentityLink-1t8Ahd {
  display: none;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3vNv-a .headerTagDiscriminatorNoNickname-D-AYUN {
  color: #dadada;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3vNv-a .profileBadges-ohc0Vu {
  position: static;
  justify-content: center;
  max-width: unset;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3vNv-a .profileBadges-ohc0Vu > * {
  margin: 0 3px;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3vNv-a .profileBadges-ohc0Vu:empty {
  margin-bottom: 20px;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3vNv-a .headerText-1vVs-U {
  margin-bottom: 8px;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .customStatus-oN4ZZY, .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .aboutMeSection-1Fw5Ia {
  padding-top: 12px;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .divider-ewBQKj {
  display: none;
}
.role-2irmRk {
  background-color: var(--background-primary);
  border-radius: 4px;
  border: none;
  padding: 0 5px 0 8px;
  height: 25px;
}
.role-2irmRk .actionButton-VzECiy {
  background-color: var(--background-primary);
  padding-left: 7px;
  padding-right: 7px;
}
.role-2irmRk .roleCircle3xAZ1j {
  margin-right: 6px;
  width: 9px;
  height: 9px;
}

/* USRBG Support */
.popoutBanner-19WKGg::before,
.profileBanner-33-uE1::before {
  content: "";
  position: absolute;
  background: #000 var(--user-background) var(--user-popout-position, center) /cover no-repeat;
  background-attachment: var(--user-background, fixed);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.root-3QyAh1 .profileBanner-33-uE1 {
  height: 200px !important;
  max-height: var(--user-background, 120px) !important;
}
.userPopout-xaxa6l[style*="-user-"] .banner-2QYc2d,
.root-3QyAh1[style*="-user-"] .banner-2QYc2d {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: var(--user-popout-position, center) center;
  background-image: var(--user-background);
}

/* Search Popouts */
#app-mount .container-3ayLPN {
  background: var(--background-secondary) !important;
  box-shadow: var(--background-tertiary);
}
#app-mount .option-96V44q:after {
  display: none;
}
#app-mount .option-96V44q.selected-rZcOL-,
.input-2VB9rf {
  background-color: var(--background-tertiary);
}
#app-mount .focused-2bY0OD {
  background-color: var(--background-primary);
}
#app-mount .searchAnswer-3Dz2-q,
#app-mount .searchFilter-2ESiM3 {
  background-color: var(--background-primary);
  color: var(--header-primary);
}

#app-mount .container-3ayLPN {
  background-color: var(--background-primary);
}

/* Stream Preview Popouts */
.protip-3-1FNm {
  display: none;
}

.streamPreview-2-WUWT {
  background-color: var(--background-tertiary) !important;
}
.previewContainer-12U1H1 {
  background-color: var(--background-secondary) !important;
}

/* Emoji Popouts */
#app-mount .autocomplete-1vrmpx {
  background-color: var(--background-floating);
}
#app-mount .selected-1Tbx07 {
  background-color: var(--background-tertiary);
}

/* Slash Command Popouts */
#app-mount .categoryHeader-O1zU94 {
  background-color: var(--background-floating);
}
.option-1B5ZV8,
.pill-2pQByF {
  background-color: var(--background-primary) !important;
}

/* Status Picker */
#status-picker .item-1tOPte {
  margin: auto 5px;
}
#status-picker .separator-2I32lJ,
#status-picker .description-2L932D {
  display: none;
}
#status-picker-online {
  --status-colour: var(--bsi-online-color, rgb(59, 165, 92));
}
#status-picker-idle {
  --status-colour: var(--bsi-idle-color, rgb(250, 166, 26));
}
#status-picker-dnd {
  --status-colour: var(--bsi-dnd-color, rgb(237, 66, 69));
}
#status-picker-invisible {
  --status-colour: var(--bsi-invisible-color, rgb(116, 127, 141));
}
#status-picker .item-1tOPte:not(#status-picker-custom-status):active,
#status-picker .item-1tOPte:not(#status-picker-custom-status).focused-3afm-j {
  background-color: var(--status-colour);
}

/* Voice Call Modal */
.colorable-1bkp8v.primaryDark-3mSFDl {
  background: var(--background-primary);
}
.colorable-1bkp8v.primaryDark-3mSFDl.active-1QRrIS,
.colorable-1bkp8v.primaryDark-3mSFDl:hover {
  background: var(--background-tertiary);
}

/* ~~~~		  		Toolbar							~~~~ */

#app-mount .children-19S4PO:after {
  display: none;
}
.container-1r6BKw {
  background: var(--background-primary);
  box-shadow: var(--shadow-bottom);
  padding-right: 238px;
  z-index: 0;
}
/* Status picker Settings */
.avatar-SmRMf2 {
  position: relative;
  left: 2px;
}
.nameTag-3uD-yy {
  margin-left: 5px;
}
.container-3baos1 {
  background: var(--background-secondary);
  border-radius: 0 0 0 18px;
  right: 0;
  top: 0;
  position: absolute;
  width: 220px;
}
.iconWrapper-2OrFZ1[aria-label="Help"] {
  display: none;
}

/*Clickable Search*/
.search-36MZv- .search-2oPWTC .searchBar-3dMhjb {
  width: 24px;
  padding: 0;
  background: none;
  transition: width 350ms ease;
  border-radius: 12px;
}
.search-36MZv- .search-2oPWTC .searchBar-3dMhjb .icon-38sknP {
  cursor: pointer;
}
.search-2oPWTC.open-6_Y_aH .searchBar-3dMhjb .icon-38sknP {
  cursor: text;
}
.search-2oPWTC.open-6_Y_aH .searchBar-3dMhjb .icon-38sknP.clear-1pMieT {
  cursor: pointer;
}
.search-2oPWTC.open-6_Y_aH .searchBar-3dMhjb {
  width: 192px;
  padding: 0 8px;
  background-color: var(--background-secondary);
}
.search-36MZv- .search-2oPWTC .icon-3cZ1F_ {
  color: var(--interactive-normal);
}
.search-36MZv-:hover .search-2oPWTC .icon-3cZ1F_ {
  color: var(--interactive-hover);
}
.search-36MZv- .search-2oPWTC.open-6_Y_aH.focused-31_ccS .icon-3cZ1F_ {
  color: var(--text-muted);
}
.search-2oPWTC.open-6_Y_aH .iconContainer-O4O2CN {
  width: 16px;
  height: 16px;
}
.iconContainer-O4O2CN {
  width: 22px;
  height: 22px;
}

/* Home Icon */
.tutorialContainer-2sGCg9 {
  position: fixed;
  z-index: 1;
  background: var(--background-tertiary);
}
.guilds-1SWlCJ .scroller-1Bvpku {
  contain: none !important;
  padding-top: 0;
}
.guilds-1SWlCJ .scroller-1Bvpku > [aria-label],
.guilds-1SWlCJ .scroller-1Bvpku > [style]:nth-child(2) {
  margin-top: 55px;
}
.guilds-1SWlCJ .scroller-1Bvpku > [style] ~ [aria-label] {
  margin-top: 0px;
}
.wrapper-3NnKdC > ul > .scroller-1Bvpku > div[aria-label="Servers"] {
  margin-top: 60px;
}
.tutorialContainer-2sGCg9 {
  box-shadow: 0px 5px 5px var(--background-tertiary);
}
.unreadMentionsIndicatorTop-2-tcdU {
  top: 47px;
}
ul[data-list-id="guildsnav"] > div[class^="scroller"] {
  padding-top: 0 !important;
}

/* Tooltips */
#app-mount .tooltipPrimary-1d1ph4,
.toolbar-2bjZV7 {
  background-color: var(--background-floating);
}
.toolbar-2bjZV7:before {
  border-top-color: var(--background-floating);
}
#app-mount .tooltipPrimary-1d1ph4 .tooltipPointer-3ZfirK {
  border-top-color: var(--background-floating);
}
/* Voice/Game/etc bar */
.container-1giJp5,
.container-6sXIoE {
  color: var(--header-primary);
  border-bottom: none;
}

/* ~~~~		  		Settings Modal							~~~~ */

#app-mount .notDetected-33MY4s {
  background-color: var(--background-tertiary);
}
.game-1ipmAa {
  box-shadow: 0 1px 0 0 var(--background-tertiary) !important;
}
.container-3auIfb[style*="opacity: 1; background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%);"] {
  background-color: #c13a3a !important;
  fill: #c13a3a !important;
}
.container-3auIfb[style*="opacity: 1; background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%);"]
  path {
  fill: #c13a3a !important;
}
.cardPrimary-1Hv-to {
  background: var(--background-secondary);
}
.gemIndicatorContainer-2jdECl {
  background-color: var(--background-primary) !important;
}
.cardWrapper-2Min21 {
  background: var(--background-secondary);
}
.card-3AyPWq:hover {
  background: var(--background-tertiary);
}
.keybindShortcut-1BD6Z1 span {
  background-color: var(--background-secondary);
  border: 1px solid var(--background-tertiary);
  box-shadow: inset 0 -4px 0 var(--background-tertiary) !important;
}

/* Server Settings */
#app-mount .default-3oAQTF,
.headerExpanded-CUEwZ5,
.divider-1pnAR2 {
  background-color: var(--background-tertiary) !important;
}
#app-mount .auditLog-3jNbM6 {
  border-color: var(--background-tertiary);
}
#app-mount .card-o7rAq- {
  background-color: var(--background-secondary);
  border-color: var(--background-tertiary);
}
.cardPrimaryOutline-29Ujqw {
  background-color: var(--background-secondary);
  border-color: var(--background-tertiary);
}
.changeDetails-bk98pu {
  background-color: var(--background-secondary) !important;
}
.headerClickable-2IVFo9 {
  background-color: var(--background-secondary) !important;
}
.elevationHigh-1PneE4 {
  background-color: var(--background-floating) !important;
}
.css-gvi9bl-control,
.css-6fzn47-control,
.css-3vaxre-menu {
  background-color: var(--background-secondary);
  border-color: var(--background-tertiary);
}
.background-3xPPFc {
  color: var(--background-secondary) !important;
}
.tierInProgress-3mBoXq {
  background-color: var(--background-secondary) !important;
}
.tierBody-3aUxuc {
  background-color: var(--background-secondary) !important;
}
.tierHeaderContent-3t3DoO {
  background: var(--background-tertiary);
}

/* Payment Modal */
#app-mount .root-1gCeng {
  background-color: var(--background-primary);
  box-shadow: none;
}
#app-mount .footer-2gL1pp {
  background-color: var(--background-tertiary);
}
#app-mount .paymentPane-3bwJ6A {
  background-color: var(--background-tertiary);
}
#app-mount .bottomDivider-1K9Gao {
  border-bottom-color: var(--background-tertiary);
}
.paginator-166-09,
.payment-xT17Mq,
.codeRedemptionRedirect-1wVR4b {
  background-color: var(--background-secondary) !important;
  border-color: var(--background-tertiary) !important;
}

/* Upload Media Modal */
#app-mount .uploadModal-2ifh8j {
  background-color: var(--background-primary);
}
#app-mount .footer-3mqk7D {
  background-color: var(--background-tertiary);
}

/* Server Boost Modal */
#app-mount .perksModal-fSYqOq {
  background-image: url(/assets/c486dc6….svg);
  background-color: var(--background-primary);
}
#app-mount .tierBody-16Chc9,
.perk-2WeBWW {
  background-color: var(--background-tertiary) !important;
}

/* Create Servers Modal */
#app-mount .lookFilled-1Gx00P.colorGrey-2DXtkV {
  color: #fff;
  background-color: var(--brand-experiment);
}
.container-UC8Ug1 {
  background-color: var(--background-secondary);
  border-color: var(--background-tertiary);
}
.container-UC8Ug1:hover {
  background-color: var(--background-tertiary);
}

/* ~~~~		  		     BD Support							~~~~ */
.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input,
.monaco-editor .margin {
  background-color: var(--background-secondary) !important;
}
.monaco-editor .minimap,
.monaco-editor .decorationsOverviewRuler {
  display: none !important;
}
.bd-tab-item.selected {
  cursor: default;
  background: var(--background-accent);
}
.bd-addon-error {
  border-color: var(--background-tertiary) !important;
  background: var(--background-secondary) !important;
}
.bd-addon-error-icon {
  display: flex;
  align-items: center;
  background-color: var(--background-primary);
}

/* ~~~~		  		 Plugin Support							~~~~ */

/* Better Codeblocks */
#app-mount .hljs {
  background-color: var(--background-secondary) !important;
  color: var(--text-normal);
  position: relative;
}
.bd-codeblock-copy-btn {
  color: var(--text-normal);
  background: var(--background-primary) !important;
}

/* Better Formatting Redux */
.bf-toolbar::before {
  background: var(--background-secondary) !important;
}
.tooltipBlack-PPG47z {
  background-color: var(--background-floating) !important;
}
.tooltipPointer-3ZfirK {
  border-top-color: var(--background-floating) !important;
}

/* ------ MemberCount, Date Viewer, Game Activity Support Comming Soon

*/

/* ~~~~		  		    Watermark							~~~~ */
html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.app-1q1i1E > div.app-2rEoOp > div.layers-3iHuyZ.layers-3q14ss > div.layer-3QrUeG.baseLayer-35bLyl + div.layer-3QrUeG > div.standardSidebarView-3F1I7i > div.sidebarRegion-VFTUkN > div.sidebarRegionScroller-3MXcoP.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 > nav.sidebar-CFHs9e > div.side-8zPYf6 > div.info-1VyQPT {
  position: relative !important;
}
html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.app-1q1i1E > div.app-2rEoOp > div.layers-3iHuyZ.layers-3q14ss > div.layer-3QrUeG.baseLayer-35bLyl + div.layer-3QrUeG > div.standardSidebarView-3F1I7i > div.sidebarRegion-VFTUkN > div.sidebarRegionScroller-3MXcoP.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 > nav.sidebar-CFHs9e > div.side-8zPYf6 > div.info-1VyQPT::after {
  content: "Simplify by" !important;
  font-size: 12px !important;
  color: var(--text-muted) !important;
  display: inline !important;
  opacity: 1 !important;
}
html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.app-1q1i1E > div.app-2rEoOp > div.layers-3iHuyZ.layers-3q14ss > div.layer-3QrUeG.baseLayer-35bLyl + div.layer-3QrUeG > div.standardSidebarView-3F1I7i > div.sidebarRegion-VFTUkN > div.sidebarRegionScroller-3MXcoP.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 > nav.sidebar-CFHs9e > div.side-8zPYf6 > div.info-1VyQPT::before {
  content: "Ashtrath#0727" !important;
  font-size: 12px !important;
  color: var(--background-accent) !important;
  display: inline !important;
  cursor: cursor;
  opacity: 1 !important;
  visibility: visible !important;
  position: absolute !important;
  left: 76px !important;
  bottom: 8px !important;
}

/* ----------------------------- END OF THEME ----------------------------- */

/* ~~~~		  		Cool Snippets from BD & Powercord Server							~~~~ */

/* Shrink server banners to header instead of disappearing. */
[class*="animatedContainer-"] {
  opacity: 1 !important;
  transition: opacity 0.25s;
}
[class*="animatedContainer-"] > [class*="bannerImage-"] {
  transition: margin 0.25s;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] {
  opacity: 0.35 !important;
  height: 138px;
}
:not([class*="bannerVisible-"])
  > [class*="animatedContainer-"]
  > [class*="bannerImage-"] {
  margin-top: -12px;
}

/* Minified Members and Search */
/* By Fitil, Search fix by Cryptogenic */
.members-1998pB,
.membersWrap-2h-GB4,
.searchResultsWrap-3-pOjs {
  z-index: 3;
  border-radius: 18px 0px 0px 18px !important;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 62px;
  min-width: 60px;
  transition-property: width, min-width;
  transition-duration: 600ms;
}
.members-1998pB:hover,
.membersWrap-2h-GB4:hover {
  width: 240px;
  min-width: 240px;
}
.searchResultsWrap-3-pOjs:hover {
  width: 418px;
  min-width: 418px;
}
.searchResultGroup-1DphGG {
  width: 394px;
}
.membersWrap-2h-GB4,
.searchResultsWrap-3-pOjs {
  position: absolute;
  right: 0;
  height: 99%;
  box-shadow: none;
}
.chatContent-a9vAAp {
  min-width: calc(100% - 60px);
  max-width: calc(100% - 60px);
}
.chatContent-a9vAAp[aria-label=" (channel)"] {
  min-width: 100%;
  max-width: 100%;
}

/* User Role List Category Group Labels */
.members-1998pB .membersGroup-v9BXpm {
  width: calc(var(--User-List-Width) - 16px);
  font-family: var(--font-display);
  font-size: 12px;
  height: 30px;
  margin: 0px 0px 6px 8px;
  padding: 10px 0px 0px 0px;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--channels-default);
}
.membersGroup-v9BXpm::after {
  content: "";
  display: block;
  width: 210px;
  height: 1px;
  left: 7px;
  margin-top: 4px;
  background: var(--channels-default);
  position: absolute;
}

/* Theme Warnings by Snapperito#0001 */
@keyframes settingsflash {
  0% {
    box-shadow: 0 2px 10px rgba(240, 71, 71, 0.2),
      0 0 0 2px rgba(240, 70, 70, 0.3);
  }

  70% {
    box-shadow: 0 0 20px 15px rgba(240, 71, 71, 0.1),
      0 0 0 6px rgba(240, 70, 70, 0.2);
  }

  100% {
    box-shadow: 0 0 20px 15px rgba(240, 71, 71, 0),
      0 0 0 6px rgba(240, 24, 70, 0.1);
  }
}
.theme-light .layer-3QrUeG:first-of-type::before {
  content: "This theme only support dark mode. To enable it, go into Settings -> Appearance"; /* Warning Text */

  position: fixed;
  text-align: center;
  width: 400px;
  height: 30px;
  top: 50%;
  left: 50%;
  background: var(--background-secondary); /* Inner Color */

  transform: translate(-50%, -50%); /* Text Color */

  color: #ffffff;
  padding: 17px 16px 20px 13.5px;
  box-shadow: 0 2px 10px rgba(240, 71, 71, 0.22);
  border: 2.5px solid #f04747;
  border-radius: 4px;
  z-index: 2;
}
.theme-light .app-2rEoOp .layer-3QrUeG:first-of-type *::before, .theme-light .app-2rEoOp .layer-3QrUeG:first-of-type *::after, .theme-light .app-2rEoOp .layer-3QrUeG:first-of-type * {
  visibility: hidden !important;
}
.theme-light .app-2rEoOp .layer-3QrUeG:first-of-type {
  background-color: var(--background-primary) !important; /* Color Behind Warning */
}
.theme-light .preview-2nSL_2.cardPrimaryOutline-29Ujqw+.marginTop40-i-78cZ .radioGroup-1GBvlr .cardPrimaryEditable-3KtE4g:first-of-type,
  .theme-light .preview-2nSL_2.cardPrimaryOutline-29Ujqw+.marginTop40-i-78cZ .radioGroup-1GBvlr .item-26Dhrx:first-of-type {
  animation: settingsflash 1s ease infinite;
  background: #f04747;
  border-color: #f04747;
}
.theme-light .preview-2nSL_2.cardPrimaryOutline-29Ujqw+.marginTop40-i-78cZ .radioGroup-1GBvlr .cardPrimaryEditable-3KtE4g:first-of-type,
.theme-light .preview-2nSL_2.cardPrimaryOutline-29Ujqw+.marginTop40-i-78cZ .radioGroup-1GBvlr .item-26Dhrx:first-of-type {
  animation: settingsflash 1s ease infinite;
  background: #f04747;
  border-color: #f04747;
  color: #ffffff;
}
.theme-light .app-2rEoOp .container-3baos1 > .noWrap-3jynv6 > .button-14-BFJ:nth-child(3) {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 70px;
  width: 220px;
  height: 40px;
  visibility: visible !important;
  background: #f04747 !important; /* Container Color */
  border-radius: 4px;
  animation: settingsflash 1s ease infinite;
  opacity: 1;
}
.theme-light .app-2rEoOp .container-3baos1 > .noWrap-3jynv6 > .button-14-BFJ:nth-child(3)::before {
  position: absolute;
  content: "GO TO SETTINGS";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 14px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible !important;
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.theme-light [aria-controls="Appearance-tab"] {
  border: 2px solid #f04747;
  animation: settingsflash 1s ease infinite;
}

.theme-light .children-rWhLdy > .marginTop40-i-78cZ:nth-child(2) > div > div[tabindex="-1"]:not(:nth-child(3)) {
  border: 2px solid #f04747;
  animation: settingsflash 1s ease infinite;
}

/* Hide Some Things */
#bd-pub-button {
  display: none;
}
#bd-pub-li {
  display: none;
}
[href="/discovery"] {
  display: none;
}
button[aria-label="Send a gift"] {
  display: none;
}
.gifTag-kA7fXf,
.textBadge-1iylP6 {
  display: none;
}
.banner-2QYc2d:hover .bannerOverlay-1uIerX,
.banner-2QYc2d:hover .pencilIcon-XSi-VE {
  display: none;
}

/* Replaces Message Links with "Jump to Message" */
[href^="https://discord.com/channels/"]
{
  line-height: 0;
  font-size: 0;
}
[href^="https://discord.com/channels/"]::before
{
  content: "Jump to Message";
  font-size: 16px;
  font-weight: 500;
}
/* Canary */
[href^="https://canary.discord.com/channels/"]
{
  line-height: 0;
  font-size: 0;
}
[href^="https://canary.discord.com/channels/"]::before
{
  content: "Jump to Message";
  font-size: 16px;
  font-weight: 500;
}
