/* Addons */
@import url("https://discord-theme-addons.github.io/modern-channel-indicators/src/support/compiled.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css");
@import url("https://goose-nest.github.io/GT-RevertRebrand/RevertRebrand.theme.css");
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");
@import url("https://dyzean.github.io/gradient-badge-userpopouts/donators.css");
@import url("https://mr-miner1.github.io/Better-Badges/src/compiled.css");

/* USRBG */
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

/* ---- Discord Variables ---- */
:root.theme-dark, .theme-light {
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #f7f4f4;
  --text-link: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
  --text-link-low-saturation: hsl(197,calc(var(--saturation-factor, 1)*100%),52.9%);
  --text-positive: hsl(139,calc(var(--saturation-factor, 1)*66.8%),58.6%);
  --text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
  --text-danger: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
  --channels-default: #ddd5d3;
  --interactive-normal: #EAE1DF;
  --interactive-hover: #EAE1DF;
  --interactive-active: #fff;
  --interactive-muted: #505355;
  --background-primary: #1c223a;
  --background-secondary: #181d33;
  --background-secondary-alt: #14192b;
  --background-tertiary: #14192b;
  --background-accent: #4d6a91;
  --background-floating: #171d30;
  --background-modifier-hover: rgba(50, 53, 85, 0.322);
  --background-modifier-active: rgba(56, 62, 97, 0.37);
  --background-modifier-selected: rgba(42, 51, 75, 0.301);
  --background-modifier-accent: rgba(255, 255, 255, 0.06);
  --background-mentioned: rgba(0, 186, 254, 0.5);
  --background-mentioned-hover: rgba(42, 196, 252, 0.63);
  --background-message-hover: rgba(4, 4, 5, 0.07);
  --background-help-warning: rgba(250, 166, 26, 0.1);
  --background-help-info: rgba(0, 176, 244, 0.1);
  --info-positive-text: #fff;
  --info-warning-text: #fff;
  --info-danger-text: #fff;
  --info-help-background: hsla(197,calc(var(--saturation-factor, 1)*100%),47.8%,0.1);
  --info-help-foreground: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
  --info-help-text: #fff;
  --status-warning-text: #000;
  --scrollbar-thin-thumb: rgba(44, 49, 71, 0.658);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: rgba(67, 79, 134, 0.658);
  --scrollbar-auto-track: rgba(24, 28, 51, 0.7);
  --scrollbar-auto-scrollbar-color-thumb: rgba(67, 79, 134, 0.555);
  --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
  --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
  --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
  --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
  --logo-primary: #fff;
  --focus-primary: var(--color-brand);
  --radio-group-dot-foreground: var(--color-brand-lighter);
  --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  --channeltextarea-background: var(--background-primary);
  --channeltextarea-background-hover: var(--background-secondary);
  --activity-card-background: #233550;
  --textbox-markdown-syntax: #8e9297;

  --text-warning: var(--color-orange);
  --text-danger: var(--color-red);
  --info-positive-background: rgba(56, 172, 93, 0.8);
  --info-positive-foreground: var(--color-green);
  --info-warning-background: rgba(255, 199, 102, 0.8);
  --info-warning-foreground: var(--color-orange);
  --info-danger-background: rgba(241, 66, 69, 0.8);
  --info-danger-foreground: var(--color-red);
  --status-positive-background: var(--color-green);
  --status-positive-text: #fff;
  --status-warning-background: var(--color-orange);
  --status-danger-background: var(--color-red);
  --status-danger-text: #fff;

  --font-primary: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-display: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;

/* ---- Addons Variables ---- */

/* --- Settings Modal --- */
  --settingsmodalbackground: transparent;
  --settingsmodalwidth: 1100px;
  --settingsmodalheight: 90vh;

/* --- Channel Indicator --- */
  --indicator-hovered: rgba(79, 84, 92, 0.25);
  --indicator-rounding: 0;
  --indicator-border-info: 2px solid;

  --indicator-selected: 112, 135, 215;
  --indicator-selected-border: rgba(var(--indicator-selected));
  --indicator-selected-background: rgba(var(--indicator-selected), 0.1);
  --indicator-selected-hover: rgba(var(--indicator-selected), 0.18);

  --indicator-unread: 255, 255, 255;
  --indicator-unread-border: rgba(var(--indicator-unread), 0.6);
  --indicator-unread-background: rgba(var(--indicator-unread), 0.01);

  --indicator-connected: 67, 181, 129;
  --indicator-connected-border: rgba(var(--indicator-connected));
  --indicator-connected-background: rgba(var(--indicator-connected), 0.1);
  --indicator-connected-hover: rgba(var(--indicator-connected), 0.18);

/* --- Radial Status --- */
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

  --rs-online-color: #43b581; /* Colour for online status */
  --rs-idle-color: #faa61a; /* Colour for idle status */
  --rs-dnd-color: #f04747; /* Colour for dnd status */
  --rs-offline-color: #636b75; /* Colour for offline status */
  --rs-streaming-color: #643da7; /* Colour for streaming status */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */

  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
  --container-color: var(--background-floating);
}

/* ~~~~		  		General							~~~~ */
.circleIconButton-1QV--U {
  color: var(--background-accent) !important;
}
.circleIconButton-1QV--U {
  background-color: transparent !important;
}
.circleIconButton-1QV--U:hover {
  background-color: var(--background-primary) !important;
}

/* Friend list tab */
.peopleColumn-1wMU14 {
  background-color: var(--background-primary);
}
.friendSelected-3cwmD7 {
  background-color: var(--background-tertiary) !important;
}
.outer-2JOHae.interactive-2zD88a:hover {
  background-color: var(--background-tertiary) !important;
}
.inset-SbsSFp,
.separator-2OaeRP {
  background-color: var(--background-secondary) !important;
}
.text-MPIeXO {
  max-width: 485px;
}

/* Discovery */
#app-mount .pageWrapper-2PwDoS {
  background-color: var(--background-primary);
  color: #fff;
}

/* Channel List */
.sidebar-1tnWFu,
.container-36u7Lw,
.container-2cd8Mz,
.applicationStore-2nk7Lo {
  border-radius: 0 17px 0 0 !important;
}
/* Chat window */
.chat-2ZfjoI {
	border-radius: 17px 0 0 0;
}

.chat-2ZfjoI,
.container-2cd8Mz,
.container-36u7Lw,
.applicationStore-2nk7Lo {
  position: relative;
  left: 5px;
  padding-right: 5px;
}
.modeUnread-3Cxepe > div > a > div > .icon-2W8DHg {
  color: var(--interactive-active);
}
.typeThread-2Aqh6X .content-1gYQeQ {
  padding-left: 34px;
}

/* chat box*/
.scrollableContainer-15eg7h {
  border-radius: 20px;
  border: 1px solid var(--background-tertiary);
  background-color: var(--background-secondary);
}
.replyBar-1oi75v,
.threadSuggestionBar-3ExSyc {
  background: var(--background-secondary);
  border: 1px solid var(--background-tertiary);
  border-bottom-color: transparent;
}
.clipContainer-31nYlH {
  margin-right: 17px;
  margin-left: 17px;
}
.attachedBars-2BCP3l {
  background: transparent;
}
.content-1jQy2l::before {
  display: none;
}
.buttons-uaqb-5 {
  opacity: 0;
  transition: opacity 0.5s;
}
.channelTextArea-1FufC0:hover .buttons-uaqb-5 {
  opacity: 1;
}
.header-2jRmjb {
  user-select: none;
}
.lookFilled-yCfaCM.colorPrimary-2AuQVo {
  background-color: var(--background-secondary) !important;
}

/* Mobile looks jump to present */
.jumpToPresentBar-1cEnH0 {
  visibility: hidden;
  bottom: 15px;
}
.jumpToPresentBar-1cEnH0 .barButtonIcon-bMvzp2 {
  visibility: visible;
  padding: 12px;
  background-color: var(--background-tertiary);
  border-radius: 50%;
  margin-bottom: 2em;
}

/* ~~~~		  		Messages							~~~~ */

/* Text */
.blockquoteContainer-3VtvI1 {
  padding: 2px 0 2px 0;
}
.blockquoteContainer-3VtvI1 blockquote {
  background-color: var(--background-secondary);
  border: 1px solid var(--background-secondary);
  color: #fff;
  border-radius: 0 4px 4px 0;
  padding: 4px 11px 4px;
}
.blockquoteContainer-3VtvI1 > .blockquoteDivider-363utW {
  background-color: var(--background-accent);
  border-radius: 4px 0 0 4px;
}
.markup-eYLPri code {
  background-color: rgba(22, 22, 22, 0.4);
}
.after_inlineCode-WydEur,
.before_inlineCode-xn8Llh,
.inlineCode-2auMQi {
  background-color: rgba(22, 22, 22, 0.4);
}
.hljs {
  background: var(--background-secondary) !important;
  border-radius: 5px;
}

/* Embeds */
.wrapperAudio-1Bzv_Z {
  width: auto !important;
  min-width: 400px;
}

.embedWrapper-1MtIDg.embedFull-1HGV2S {
  border-radius: 4px;
  border-left: 4px solid var(--background-tertiary);
  box-shadow: var(--elevation-high);
}

/* Nitro Gift */
.tile-2mmK5T {
  background-color: var(--background-secondary) !important;
}
.lookFilled-yCfaCM.colorPrimary-2AuQVo:disabled {
  background-color: var(--background-primary) !important;
}

/* Mentions */
.replying-eZ7p5z,
.mentioned-Tre-dv {
  background: rgba(151, 197, 250, 0.15) !important;
}
.mentioned-Tre-dv:before {
  background-color: var(--brand-experiment);
}
.numberBadge-37OJ3S.base-3IDx3L {
  background-color: var(--background-accent) !important;
}

/* Quick Button or whatever is that */
.wrapper-2vIMkT {
  background-color: var(--background-secondary);
}

/* ~~~~		  		Popouts							~~~~ */

/* UserPopouts */
.userPopout-2j1gM4 {
  background: var(--background-secondary);
  box-shadow: unset !important;
  margin-right: 20px;
  border-radius: 8px;
}
.userPopout-2j1gM4 .banner-1YaD3N {
  position: absolute;
  width: 300px;
  height: 180px;
  border-radius: 8px 8px 0 0;
  -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(24, 29, 51, 1) 100%);
}
.userPopout-2j1gM4 .banner-1YaD3N.bannerPremium-kkSkPv {
  background-color: transparent !important;
}
.userPopout-2j1gM4 .headerTop-3GPUSF {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  padding-top: 110px;
  padding-bottom: 20px;
}
.userPopout-2j1gM4 .headerTop-3GPUSF .headerTagWithNickname-1U8zZH,
.userPopout-2j1gM4 .headerTop-3GPUSF .setIdentityLink-hOFsMl {
  display: none;
}
.userPopout-2j1gM4 .headerTop-3GPUSF .headerTagDiscriminatorNoNickname-dfcvHa {
  color: #dadada;
}
.userPopout-2j1gM4 .headerTop-3GPUSF .profileBadges-2pItdR {
  position: static;
  justify-content: center;
  max-width: unset;
}
.userPopout-2j1gM4 .headerTop-3GPUSF .profileBadges-2pItdR > * {
  margin: 0 3px;
}
.userPopout-2j1gM4 .headerTop-3GPUSF .profileBadges-2pItdR:empty {
  margin-bottom: 20px;
}
.userPopout-2j1gM4 .headerTop-3GPUSF .headerText-1-WmDq {
  margin-bottom: 8px;
}
.userPopout-2j1gM4 .customStatus-3XAoF9,
.userPopout-2j1gM4 .aboutMeSection-PUghFQ {
  padding-top: 10px;
}
.userPopout-2j1gM4 .divider-1wtgZ3 {
  display: none;
}
.userPopout-2j1gM4 .body-2wLx-E .activity-1gTu-L .button-f2h6uQ {
  background-color: #419e85;
}
.userPopout-2j1gM4 .body-2wLx-E .activity-1gTu-L .spotifyIcon-2J9kSv {
  display: none;
}
.userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k {
  padding-right: 16px;
}
.userPopout-2j1gM4 .body-2wLx-E::-webkit-scrollbar {
  display: none;
}
.userPopout-2j1gM4 .avatarWrapper-eenWra {
  top: 0;
  left: 50%;
  grid-area: avatar;
  margin: 15px 0 0 -50px;
}
.userPopout-2j1gM4 .avatarWrapper-eenWra .avatar-2Vndt_ {
  background: none;
  border: none;
}
.userPopout-2j1gM4 .avatarWrapper-eenWra .avatarHint-k7pYop {
  display: none;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB > :first-child {
  flex: 2 auto;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .banner-hcPdsd {
  position: absolute;
  height: 180px;
  -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(24, 29, 51, 1) 100%);
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .avatarUploader-2UF9NL {
  top: 15px;
  left: 50%;
  margin-left: -40px;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .avatarUploader-2UF9NL .avatarUploaderInner-Oiob_P {
  border: none;
  border-radius: 50%;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .avatarUploader-2UF9NL .avatarUploaderInner-Oiob_P .avatarUploaderIndicator-2G-aIZ {
  display: none;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3GPUSF {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  padding-top: 110px;
  padding-bottom: 20px;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3GPUSF .headerTagWithNickname-1U8zZH, .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3GPUSF .setIdentityLink-hOFsMl {
  display: none;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3GPUSF .headerTagDiscriminatorNoNickname-dfcvHa {
  color: #dadada;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3GPUSF .profileBadges-2pItdR {
  position: static;
  justify-content: center;
  max-width: unset;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3GPUSF .profileBadges-2pItdR > * {
  margin: 0 3px;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3GPUSF .profileBadges-2pItdR:empty {
  margin-bottom: 20px;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3GPUSF .headerText-1-WmDq {
  margin-bottom: 8px;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .customStatus-3XAoF9, .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .aboutMeSection-PUghFQ {
  padding-top: 12px;
}
.userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .divider-1wtgZ3 {
  display: none;
}
.customStatus-3XAoF9 > .customStatusEmoji-1bFQdD.customStatusSoloEmoji-2bSRlG:only-child {
  margin-right: auto;
  margin-left: auto;
}
.role-2TIOKu {
  background-color: var(--background-primary);
  border-radius: 4px;
  border: none;
  padding: 0 5px 0 8px;
  height: 25px;
}
.role-2TIOKu .actionButton-1YKTU0 {
  background-color: var(--background-primary);
  padding-left: 7px;
  padding-right: 7px;
}
.role-2TIOKu .roleCircle3xAZ1j {
  margin-right: 6px;
  width: 9px;
  height: 9px;
}

/* USRBG Support */
.popoutBanner-3cqRD9::before,
.profileBanner-1owKI5::before {
  content: "";
  position: absolute;
  background: #000 var(--user-background) var(--user-popout-position, center) /cover no-repeat;
  background-attachment: var(--user-background, fixed);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.root-8LYsGj .profileBanner-1owKI5 {
  height: 200px !important;
  max-height: var(--user-background, 120px) !important;
}
.userPopout-2j1gM4[style*="-user-"] .banner-1YaD3N,
.root-8LYsGj[style*="-user-"] .banner-1YaD3N {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: var(--user-popout-position, center) center;
  background-image: var(--user-background);
}

/* Search Popouts */
#app-mount .container-2McqkF {
  background: var(--background-secondary) !important;
  box-shadow: var(--background-tertiary);
}
#app-mount .option-2KkUJO:after {
  display: none;
}
#app-mount .option-2KkUJO.selected-rZcOL-,
.input-3r5zZY {
  background-color: var(--background-tertiary);
}
#app-mount .focused-2FU0YH {
  background-color: var(--background-tertiary);
}
#app-mount .searchAnswer-23w-CH,
#app-mount .searchFilter-2UfsDk {
  background-color: var(--background-primary);
  color: var(--header-primary);
}

#app-mount .container-2McqkF {
  background-color: var(--background-primary);
}

/* Stream Preview Popouts */
.protip-13raHg {
  display: none;
}

.streamPreview-3qoMP4 {
  background-color: var(--background-tertiary) !important;
}
.previewContainer-12U1H1 {
  background-color: var(--background-secondary) !important;
}

/* Emoji Popouts */
#app-mount .autocomplete-3NRXG8 {
  background-color: var(--background-floating);
}
#app-mount .selected-3H3-RC {
  background-color: var(--background-tertiary);
}

/* Slash Command Popouts */
#app-mount .categoryHeader-OpJ1Ly {
  background-color: var(--background-floating);
}
.option-Tt7anD,
.pill-1HLSrc {
  background-color: var(--background-primary) !important;
}

/* Status Picker */
#status-picker .item-1OdjEX {
  margin: auto 5px;
}
#status-picker .separator-1So4YB,
#status-picker .description-3Cwkxk {
  display: none;
}
#status-picker-online {
  --status-colour: var(--bsi-online-color, rgb(59, 165, 92));
}
#status-picker-idle {
  --status-colour: var(--bsi-idle-color, rgb(250, 166, 26));
}
#status-picker-dnd {
  --status-colour: var(--bsi-dnd-color, rgb(237, 66, 69));
}
#status-picker-invisible {
  --status-colour: var(--bsi-invisible-color, rgb(116, 127, 141));
}
#status-picker .item-1OdjEX:not(#status-picker-custom-status):active,
#status-picker .item-1OdjEX:not(#status-picker-custom-status).focused-3qFvc8 {
  background-color: var(--status-colour);
}

/* Voice Call Modal */
.colorable-3rVGna.primaryDark-2UJt1G {
  background: var(--background-primary);
}
.colorable-3rVGna.primaryDark-2UJt1G.active-3D763s,
.colorable-3rVGna.primaryDark-2UJt1G:hover {
  background: var(--background-tertiary);
}

/* ~~~~		  		Toolbar							~~~~ */

#app-mount .children-3xh0VB:after {
  display: none;
}
.container-ZMc96U {
  background: var(--background-primary);
  box-shadow: var(--shadow-bottom);
  padding-right: 238px;
  z-index: 0;
}
/* Status picker Settings */
.avatar-1EWyVD {
  position: relative;
  left: 2px;
}
.nameTag-sc-gpq {
  margin-left: 5px;
}
.container-YkUktl {
  background: var(--background-secondary);
  border-radius: 0 0 0 18px;
  right: 0;
  top: 0;
  position: absolute;
  width: 220px;
}
.iconWrapper-2awDjA[aria-label="Help"] {
  display: none;
}

/*Clickable Search*/
.search-39IXmY .search-1FM8Qc .searchBar-zdmu7v {
  width: 24px;
  padding: 0;
  background: none;
  transition: width 350ms ease;
  border-radius: 12px;
}
.search-39IXmY .search-1FM8Qc .searchBar-zdmu7v .icon-1nNws_ {
  cursor: pointer;
}
.search-1FM8Qc.open-3y3yI_ .searchBar-zdmu7v .icon-1nNws_ {
  cursor: text;
}
.search-1FM8Qc.open-3y3yI_ .searchBar-zdmu7v .icon-1nNws_.clear-2KQ7l1 {
  cursor: pointer;
}
.search-1FM8Qc.open-3y3yI_ .searchBar-zdmu7v {
  width: 192px;
  padding: 0 8px;
  background-color: var(--background-secondary);
}
.search-39IXmY .search-1FM8Qc .icon-18rqoe {
  color: var(--interactive-normal);
}
.search-39IXmY:hover .search-1FM8Qc .icon-18rqoe {
  color: var(--interactive-hover);
}
.search-39IXmY .search-1FM8Qc.open-3y3yI_.focused-8aNhVB .icon-18rqoe {
  color: var(--text-muted);
}
.search-1FM8Qc.open-3y3yI_ .iconContainer-1RqWJj {
  width: 16px;
  height: 16px;
}
.iconContainer-1RqWJj {
  width: 22px;
  height: 22px;
}

/* Home Icon */
.tutorialContainer-1pL9QS {
  position: fixed;
  z-index: 1;
  background: linear-gradient(var(--background-tertiary) 85%, transparent);
}
.guilds-2JjMmN .scroller-3X7KbA {
  contain: none !important;
  padding-top: 0;
	margin-top: 3px;
}
.guilds-2JjMmN .scroller-3X7KbA > [aria-label], .guilds-2JjMmN .scroller-3X7KbA > [style]:nth-child(2) {
  margin-top: 55px;
}
.guilds-2JjMmN .scroller-3X7KbA > [style] ~ [aria-label] {
  margin-top: 0px;
}
.unreadMentionsIndicatorTop-2bTgUU {
	margin-top: 50px;
}

/* Tooltips */
#app-mount .tooltipPrimary-3qLMbS,
.toolbar-37BrJ5 {
  background-color: var(--background-floating);
}
.toolbar-37BrJ5:before {
  border-top-color: var(--background-floating);
}
#app-mount .tooltipPrimary-3qLMbS .tooltipPointer-3L49xb {
  border-top-color: var(--background-floating);
}
/* Voice/Game/etc bar */
.container-1zzFcN,
.container-6sXIoE {
  color: var(--header-primary);
  border-bottom: none;
}

/* ~~~~		  		Settings Modal							~~~~ */

#app-mount .notDetected-2HEmAp {
  background-color: var(--background-tertiary);
}
.game-3x3aDt {
  box-shadow: 0 1px 0 0 var(--background-tertiary) !important;
}
.container-2nx-BQ[style*="opacity: 1; background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%);"] {
  background-color: #c13a3a !important;
  fill: #c13a3a !important;
}
.container-2nx-BQ[style*="opacity: 1; background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%);"]
  path {
  fill: #c13a3a !important;
}
.cardPrimary-3qRT__ {
  background: var(--background-secondary);
}
.gemIndicatorContainer-PqApbX {
  background-color: var(--background-primary) !important;
}
.cardWrapper-CyvwQv {
  background: var(--background-secondary);
}
.card-2gdrYL:hover {
  background: var(--background-tertiary);
}

/* Buttons Color */
#app-mount .bar-1Bhnl9 {
  background: var(--background-secondary);
}
#app-mount .userSettingsVoice-1_dzjw .previewOverlay-2reuWf {
  background-color: var(--background-secondary);
  border-color: var(--background-tertiary);
}
.premiumTabItem-1QTfBr[aria-selected=true] {
  color: #fff !important;
  background-color: #b466c2 !important;
}
.dim-2Uxgxb span, .keybindShortcut-3zF1P9 span {
  background-color: var(--background-secondary) !important;
  border: 1px solid var(--background-tertiary);
  box-shadow: inset 0 -4px 0 var(--background-tertiary) !important;
}


/* Server Settings */
#app-mount .default-1Tkeeg,
.headerExpanded-CUEwZ5,
.divider-1pnAR2 {
  background-color: var(--background-tertiary) !important;
}
#app-mount .auditLog-3jNbM6 {
  border-color: var(--background-tertiary);
}
#app-mount .card-o7rAq- {
  background-color: var(--background-secondary);
  border-color: var(--background-tertiary);
}
.cardPrimaryOutline-1ofwVz {
  background-color: var(--background-secondary);
  border-color: var(--background-tertiary);
}
.changeDetails-bk98pu {
  background-color: var(--background-secondary) !important;
}
.headerClickable-2IVFo9 {
  background-color: var(--background-secondary) !important;
}
.elevationHigh-28Pty4 {
  background-color: var(--background-floating) !important;
}
.css-gvi9bl-control,
.css-6fzn47-control,
.css-3vaxre-menu {
  background-color: var(--background-secondary);
  border-color: var(--background-tertiary);
}
.background-3xJH_4 {
  color: var(--background-secondary) !important;
}
.tierInProgress-1vFUnw {
  background-color: var(--background-secondary) !important;
}
.tierBody-1d3UiS {
  background-color: var(--background-secondary) !important;
}
.tierHeaderContent-2SPBAA {
  background: var(--background-tertiary);
}
.cardPrimaryEditable-2mz_3i {
  background: var(--background-secondary);
}
.editCircle-ityklj, .iconWrapper-lS1uig {
  background-color: var(--background-primary);
}

/* Payment Modal */
#app-mount .root-g14mjS {
  background-color: var(--background-primary);
  box-shadow: none;
}
#app-mount .footer-31IekZ {
  background-color: var(--background-tertiary);
  box-shadow: none;
}
#app-mount .paymentPane-ut5qKZ {
  background-color: var(--background-tertiary);
}
#app-mount .bottomDivider-ZmTm-j {
  border-bottom-color: var(--background-tertiary);
}
.paginator-1eqD2g,
.payment-2bOh4k,
.codeRedemptionRedirect-3SBiCp {
  background-color: var(--background-secondary) !important;
  border-color: var(--background-tertiary) !important;
}

/* Upload Media Modal */
#app-mount .uploadModal-2ie9O_ {
  background-color: var(--background-primary);
}
#app-mount .footer-VCsJQY {
  background-color: var(--background-tertiary);
}

/* Server Boost Modal */
#app-mount .perksModal-fSYqOq {
  background-image: url(/assets/c486dc6….svg);
  background-color: var(--background-primary);
}
#app-mount .tierBody-16Chc9,
.perk-2WeBWW, .expandedInfo-1W31i3 {
  background-color: var(--background-tertiary) !important;
}
.roleIcon-286ZWG {
  color: var(--background-accent);
}

/* Create Servers Modal */
#app-mount .lookFilled-yCfaCM.colorGrey-2iAG-B {
  color: #fff;
  background-color: var(--brand-experiment);
}
.container-x8Y1ix {
  background-color: var(--background-secondary);
  border-color: var(--background-tertiary);
}
.container-x8Y1ix:hover {
  background-color: var(--background-tertiary);
}
.backButton-2Ps-B8 {
  color: #747f8d;
}
.backButton-2Ps-B8:hover {
  text-decoration: underline;
}

/* ~~~~		  		     BD Support							~~~~ */
.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input,
.monaco-editor .margin {
  background-color: var(--background-secondary) !important;
}
.monaco-editor .minimap,
.monaco-editor .decorationsOverviewRuler {
  display: none !important;
}
.bd-tab-item.selected {
  cursor: default;
  background: var(--background-accent);
}
.bd-addon-error {
  border-color: var(--background-tertiary) !important;
  background: var(--background-secondary) !important;
}
.bd-addon-error-icon {
  display: flex;
  align-items: center;
  background-color: var(--background-primary);
}

/* ~~~~		  		     Powercord Support							~~~~ */
.powercord-toast-container {
  --toast-background: var(--background-secondary);
  --toast-header: var(--background-tertiary);
  --toast-contents: var(--background-primary);
  --toast-box-shadow: var(--elevation-stroke), var(--elevation-high);
  --toast-border: transparent;
}

.powercord-pc-icon {
  margin-right: 4px;
}
.powercord-pc-icon svg {
  padding-right: 0;
  width: 28px;
}
.powercord-pc-icon::before {
  background: var(--interactive-normal);
  -webkit-mask: url("data:image/png; base64, iVBORw0KGgoAAAANSUhEUgAAAcEAAAHBAgMAAABs1eh7AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJUExURQAAAK2trf///xHpVx0AAAACdFJOUwAQayTdXAAABbVJREFUeNrt3UFy8jgQQGFVL2aho+iUqjmJalYqnXISYAgmwbjVrcfkp30Av5I/2RhHMSnZtzx6QrcyPjYyKJ9BdJTjvFUsmC/Fziqikv8FR4MPKndYrwcVO6xfQWi2yk2xwYwU5A0jBDnoomyKFWZkpk7Bi5sgMVkFL2a8uGUkTo9BFwUv5vtipRnXFwddFLyY8WLBi9+Cqy/lghczXix4cdDFHxgXz9WMFwteHHRR8GLGiz8xDpxx4IwDZ+w4Y8cZG87YaMalp2PBi4M+OX5m7DhjC8ZgfFfGMmBGuUpRjPk6DIqxXKkoxus4QMaLFch4GQjJeMYiGU8jQRlPWijjaSgs4ycXy/gxFpjxwwtm/BgMzfhooz6DCcYH20LGB1swBmMw/rmMGWcsNOOzYsOLFS8mutjx4oqv/3mScd44zzEakGWKMVuUZxjFdO6UCUbbcsg8wWg7XUXPKLazR/SMxuWQWc9oXA5ZDIxzs9XCOAVpYpyCtDHOFG2MM1PHxjgxdYyME0Uj48RktTLqi1ZG9WQ1M6qLZkb16WFmVBfNjNqinVFbdGBUXgIcGJVF/W2ccTmk6G9Vjcshs/523Lgcsui/chi/0+q/VomtKPqvjtlWzPqvx8VWnHgEYHw2oX9aZVwOOfFEzrgc8tnzsX7Mobox/gRpfMb0LPh9X2J7xiRPi+2Qgx/jD5DG5ZBPGb/vzPjk7nnwHlJsT+7kQLEdcOiOjN/2VmzPCg8w3hsZn04eCW4hxfaQWQ4V23OH6sl4B1lsJ8chxu3+jI+1jwVvj5lxrYAcLLZnDs2XcTME41qBg4y3kMa/hxwNfo0BYrxxghhvBkExfkFRjNdRYIxeyyGzothpRqflkJqgy3JIURUbzOizHFLF6LIcUhd0WA4pymKDGT2WQyoZHZZDaoPm5ZCiLjaY0b4cUs1oXvLhFVzIaF3ykb2KwRiMwRiMwRiMfwij4IwZZyw0o1ux4VO14sVET9WOF48zZpwx04xeJ0fHiw0vev4Z15sx4YwJZ0w4o+CMgjMKzig0o1Mx0cWOFxterHgxvcEY2xvMVf58fME1p73BZ4cKEr8H+LX3Ofy9nAaSvyf/td87FMWMTx3+GytflDcopncoFvzCyhczfc15wb1VoieOT1H3z4AFZvSZOipGl6mTEgyp/Z/OAjN6QFZlUWhGO6T+P9cLzGiHrOqi0IxWyJl3VxSY0QpZJ4pCM9og597sMgn5zyzjNGSdZZyGvHnxLQPZb17uy0C2mxcYM5D189jUyaJMnogyO8QpSOPbwgpzPbVBVltRoOupBdL80rcCM05AVnyMiXY0M0owBmMwBmMwBmMwBmMw/kbGjDMWmlFdbHix4sVEFztebHix4kV7cOZlBOh11YFx5qUSKKRHcOblICCkC+PMS158If9ezngPmZYz3kH2vbnrxLiFbDPvtTWNse7N3bSiuDd33X5II9/ttCxnLHc7zasZN8W6dxFKK6bq3kWoryj2vU+TtmKqtr1Pk7qiWPc+TdKKk2Pv06SvKPa92wI3xtPu23aneSnjqVjLZqeylPH8M6h5u9OljKe9n0fV9+7vmnMxbXeaVzLKuL6fqu7d3yXvYt7udCXjpSjbnZaFjHLZ3XaneR3jad/nz+HdG/XkW6xPb9T7+mJZxviomJcxPirKMsaHy3qWMT4s5lWMD4uy6qA+XixVFh3Ux8W8ZqbuFNOiIe4UZc0Q9xa9lQUTdb94Trr//OLuwj5Z9QOzCd2iGEXXT+Qo/sJiQ4vykmKPovc28IvOa4rsCVleUmRPyIxP1vySE3LwxYqfHg0vdvz0GHyx0qcHCyk4pAwccuCQBYfMbwApPOTAIQsOmQMyIAMyIAMyIAMyIAMyIP/3kH8FZJyRARmQARmQARmQARmQARmQIORb/OEs4ZAJh0w4ZMIhEw6ZaEh45ZXgxY/D2hJ9WB139i9DGxh/HluS1wAAAABJRU5ErkJggg==") left/18px 18px no-repeat;
}
.powercord-pc-icon:hover::before {
  background: var(--interactive-hover);
}
.powercord-pc-icon:active::before {
  background: var(--interactive-active);
}
.item-3XjbnG[data-item-id="pc-updater"] {
  height: 4.65rem;
  align-items: unset !important;
}
.item-3XjbnG[data-item-id="pc-moduleManager-themes"] {
  font-size: 0px;
  visibility: none !important;
  padding-top: px;
  margin-bottom: 2px;
}
.item-3XjbnG[data-item-id="pc-moduleManager-themes"]:after {
  font-size: 16px;
  visibility: visible !important;
  content: "Quick CSS";
}
.item-3XjbnG[data-item-id="pc-moduleManager-themes"]:not(:selected):hover:after {
  color: var(--interactive-hover) !important;
}
.item-3XjbnG[data-item-id="pc-moduleManager-themes"]:active:after {
  color: var(--interactive-active) !important;
}
.item-3XjbnG[data-item-id="pc-moduleManager-themes"]:selected:after {
  color: var(--interactive-active) !important;
}
.item-3XjbnG[data-item-id="theme-toggler"] {
  font-size: 0px;
  visibility: none !important;
  padding-top: 6px;
  margin-bottom: 2px;
}
.item-3XjbnG[data-item-id="theme-toggler"]:after {
  font-size: 16px;
  visibility: visible !important;
  content: "Themes";
}
.item-3XjbnG[data-item-id="theme-toggler"]:not(:selected):hover:after {
  color: var(--interactive-hover) !important;
}
.item-3XjbnG[data-item-id="theme-toggler"]:active:after {
  color: var(--interactive-active) !important;
}
.item-3XjbnG[data-item-id="theme-toggler"]:selected:after {
  color: var(--interactive-active) !important;
}
.side-2ur1Qk > div {
  order: 0;
}
.item-3XjbnG[data-item-id="theme-toggler"] {
  order: 1 !important;
}
.side-2ur1Qk > div:nth-child(n + 33) {
  order: 14;
}
.item-3XjbnG[data-item-id="pc-updater"]:hover {
  background: linear-gradient(180deg, var(--background-modifier-hover) 0%, var(--background-modifier-hover) 40%, var(--background-secondary) 40.01%, var(--background-secondary) 100%) !important;
}
.item-3XjbnG[data-item-id="pc-updater"][class*="selected"] {
  background: linear-gradient(180deg ,var(--background-modifier-selected) 0%, var(--background-modifier-selected) 40%, var(--background-secondary) 40.01%, var(--background-secondary) 100%) !important;
}
.item-3XjbnG[data-item-id="pc-updater"]:after {
  position: absolute;
  margin-top: 2.19rem;

  border-top: 1px solid var(--background-modifier-accent);
  line-height: 2.6rem;
  width: 89.5%;

  content: "Plugin Settings";
  color: var(--channels-default);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}
.sidebar-nqHbhN .side-2ur1Qk .item-3XjbnG[aria-controls="theme-toggler-tab" i]::before {
  -webkit-mask: url(https://raw.githubusercontent.com/snappercord/Settings-Icons/5d3bdc83c015c7180de9980d0db545a2c4742041/icons/plugin/themetoggler.svg) center/contain no-repeat;
}


/* ~~~~		  		 Plugin Support							~~~~ */

/* Better Codeblocks */
#app-mount .hljs {
  background-color: var(--background-secondary) !important;
  color: var(--text-normal);
  position: relative;
}
.bd-codeblock-copy-btn {
  color: var(--text-normal);
  background: var(--background-primary) !important;
}

/* Better Formatting Redux */
.bf-toolbar::before {
  background: var(--background-secondary) !important;
}
.tooltipBlack-vMYxvw {
  background-color: var(--background-floating) !important;
}
.tooltipPointer-3L49xb {
  border-top-color: var(--background-floating) !important;
}

*/

/* ~~~~		  		    Watermark							~~~~ */
html:only-child > head + body > div#app-mount.appMount-2yBXZl > div.app-3xd6d0 > div.app-2CXKsg > div.layers-OrUESM.layers-1YQhyW > div.layer-86YKbF.baseLayer-W6S8cY + div.layer-86YKbF > div.standardSidebarView-E9Pc3j > div.sidebarRegion-1VBisG > div.sidebarRegionScroller-FXiQOh.thin-31rlnD.scrollerBase-_bVAAt.fade-1R6FHN > nav.sidebar-nqHbhN > div.side-2ur1Qk > div.info-1sUqUG {
  position: relative !important;
}
html:only-child > head + body > div#app-mount.appMount-2yBXZl > div.app-3xd6d0 > div.app-2CXKsg > div.layers-OrUESM.layers-1YQhyW > div.layer-86YKbF.baseLayer-W6S8cY + div.layer-86YKbF > div.standardSidebarView-E9Pc3j > div.sidebarRegion-1VBisG > div.sidebarRegionScroller-FXiQOh.thin-31rlnD.scrollerBase-_bVAAt.fade-1R6FHN > nav.sidebar-nqHbhN > div.side-2ur1Qk > div.info-1sUqUG::after {
  content: "Simplify by" !important;
  font-size: 12px !important;
  color: var(--text-muted) !important;
  display: inline !important;
  opacity: 1 !important;
}
html:only-child > head + body > div#app-mount.appMount-2yBXZl > div.app-3xd6d0 > div.app-2CXKsg > div.layers-OrUESM.layers-1YQhyW > div.layer-86YKbF.baseLayer-W6S8cY + div.layer-86YKbF > div.standardSidebarView-E9Pc3j > div.sidebarRegion-1VBisG > div.sidebarRegionScroller-FXiQOh.thin-31rlnD.scrollerBase-_bVAAt.fade-1R6FHN > nav.sidebar-nqHbhN > div.side-2ur1Qk > div.info-1sUqUG::before {
  content: "Ashtrath#0727" !important;
  font-size: 12px !important;
  color: var(--background-accent) !important;
  display: inline !important;
  cursor: cursor;
  opacity: 1 !important;
  visibility: visible !important;
  position: absolute !important;
  left: 76px !important;
  bottom: 8px !important;
}

/* ----------------------------- END OF THEME ----------------------------- */

/* ~~~~		  		Cool Snippets from BD & Powercord Server							~~~~ */

/* Shrink server banners to header instead of disappearing. */
[class*="animatedContainer-"] {
  opacity: 1 !important;
  transition: opacity 0.25s;
}
[class*="animatedContainer-"] > [class*="bannerImage-"] {
  transition: margin 0.25s;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] {
  opacity: 0.35 !important;
  height: 138px;
}
:not([class*="bannerVisible-"])
  > [class*="animatedContainer-"]
  > [class*="bannerImage-"] {
  margin-top: -12px;
}

/* Minified Members and Search */
/* By Fitil, Search fix by Cryptogenic */
.members-3WRCEx,
.membersWrap-3NUR2t,
.searchResultsWrap-5RVOkx {
  z-index: 3;
  border-radius: 18px 0px 0px 18px !important;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 62px;
  min-width: 60px;
  transition-property: width, min-width;
  transition-duration: 600ms;
}
.members-3WRCEx:hover,
.membersWrap-3NUR2t:hover {
  width: 240px;
  min-width: 240px;
}
.searchResultsWrap-5RVOkx:hover {
  width: 418px;
  min-width: 418px;
}
.searchResultGroup-1lU_-i {
  width: 394px;
}
.membersWrap-3NUR2t,
.searchResultsWrap-5RVOkx {
  position: absolute;
  right: 0;
  height: 99%;
  box-shadow: none;
}
.chatContent-3KubbW {
  min-width: calc(100% - 60px);
  max-width: calc(100% - 60px);
}
.chatContent-3KubbW[aria-label=" (channel)"] {
  min-width: 100%;
  max-width: 100%;
}

/* User Role List Category Group Labels */
.members-3WRCEx .membersGroup-2eiWxl {
  width: calc(var(--User-List-Width) - 16px);
  font-family: var(--font-display);
  font-size: 12px;
  height: 30px;
  margin: 0px 0px 6px 8px;
  padding: 10px 0px 0px 0px;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--channels-default);
}
.membersGroup-2eiWxl::after {
  content: "";
  display: block;
  width: 210px;
  height: 1px;
  left: 7px;
  margin-top: 4px;
  background: var(--channels-default);
  position: absolute;
}

/* Theme Warnings by Snapperito#0001 */
@keyframes settingsflash {
  0% {
    box-shadow: 0 2px 10px rgba(240, 71, 71, 0.2),
      0 0 0 2px rgba(240, 70, 70, 0.3);
  }

  70% {
    box-shadow: 0 0 20px 15px rgba(240, 71, 71, 0.1),
      0 0 0 6px rgba(240, 70, 70, 0.2);
  }

  100% {
    box-shadow: 0 0 20px 15px rgba(240, 71, 71, 0),
      0 0 0 6px rgba(240, 24, 70, 0.1);
  }
}
.theme-light .layer-86YKbF:first-of-type::before {
  content: "This theme only support dark mode. To enable it, go into Settings -> Appearance"; /* Warning Text */

  position: fixed;
  text-align: center;
  width: 400px;
  height: 30px;
  top: 50%;
  left: 50%;
  background: var(--background-secondary); /* Inner Color */

  transform: translate(-50%, -50%); /* Text Color */

  color: #ffffff;
  padding: 17px 16px 20px 13.5px;
  box-shadow: 0 2px 10px rgba(240, 71, 71, 0.22);
  border: 2.5px solid #f04747;
  border-radius: 4px;
  z-index: 2;
}
.theme-light .app-2CXKsg .layer-86YKbF:first-of-type *::before, .theme-light .app-2CXKsg .layer-86YKbF:first-of-type *::after, .theme-light .app-2CXKsg .layer-86YKbF:first-of-type * {
  visibility: hidden !important;
}
.theme-light .app-2CXKsg .layer-86YKbF:first-of-type {
  background-color: var(--background-primary) !important; /* Color Behind Warning */
}
.theme-light .preview-rua1rr.cardPrimaryOutline-1ofwVz+.marginTop40-Q4o1tS .radioGroup-1GBvlr .cardPrimaryEditable-2mz_3i:first-of-type,
  .theme-light .preview-rua1rr.cardPrimaryOutline-1ofwVz+.marginTop40-Q4o1tS .radioGroup-1GBvlr .item-2idW98:first-of-type {
  animation: settingsflash 1s ease infinite;
  background: #f04747;
  border-color: #f04747;
}
.theme-light .preview-rua1rr.cardPrimaryOutline-1ofwVz+.marginTop40-Q4o1tS .radioGroup-1GBvlr .cardPrimaryEditable-2mz_3i:first-of-type,
.theme-light .preview-rua1rr.cardPrimaryOutline-1ofwVz+.marginTop40-Q4o1tS .radioGroup-1GBvlr .item-2idW98:first-of-type {
  animation: settingsflash 1s ease infinite;
  background: #f04747;
  border-color: #f04747;
  color: #ffffff;
}
.theme-light .app-2CXKsg .container-YkUktl > .noWrap-hBpHBz > .button-12Fmur:nth-child(3) {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 70px;
  width: 220px;
  height: 40px;
  visibility: visible !important;
  background: #f04747 !important; /* Container Color */
  border-radius: 4px;
  animation: settingsflash 1s ease infinite;
  opacity: 1;
}
.theme-light .app-2CXKsg .container-YkUktl > .noWrap-hBpHBz > .button-12Fmur:nth-child(3)::before {
  position: absolute;
  content: "GO TO SETTINGS";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 14px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible !important;
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.theme-light [aria-controls="Appearance-tab"] {
  border: 2px solid #f04747;
  animation: settingsflash 1s ease infinite;
}

.theme-light .children-1xdcWE > .marginTop40-Q4o1tS:nth-child(2) > div > div[tabindex="-1"]:not(:nth-child(3)) {
  border: 2px solid #f04747;
  animation: settingsflash 1s ease infinite;
}

/* Hide Some Things */
.banner-1YaD3N:hover .premiumIconWrapper-32h0Ri .textBadge-1fdDPJ,
.banner-1YaD3N:hover .bannerOverlay-1uIerX,
.banner-1YaD3N:hover .pencilIcon-z04-c5,
button[aria-label="Send a gift"],
[href="/discovery"],
.toolbar-3_r2xA a,
.gifTag-3_dPxY,
#bd-pub-button,
#bd-pub-li {
  display: none;
}

/* Replaces Message Links with "Jump to Message" */
[title^="https://discord.com/channels/"],
[title^="https://ptb.discord.com/channels/"],
[title^="https://canary.discord.com/channels/"] {
    line-height:0;
    font-size:0;
}
[title^="https://discord.com/channels/"]::before,
[title^="https://ptb.discord.com/channels/"]::before,
[title^="https://canary.discord.com/channels/"]::before {
  content: "Jump to Message";
  font-size: 16px;
  font-weight: 500;
}
